#header
	#header-inside
		.shadow
		.main.row-fluid
			.span8
				.homeslider
					.content
						- @news.each do |news|
							.ph
								-unless news.images.empty?
									= image_tag(news.images.first.file.url(:large))
								.data
									.data-inside
										%h3 #{news.title}
										%p #{news.subtitle}
										= link_to 'Leer más', news_path(news.id), :class => 'button'
			.span4
				.row-fluid
					- (@news).each do |news|
						.span6.thumbox
							.thumb
								- unless news.images.empty?
									= image_tag(news.images.first.file.url(:small))
								.over
								.viewmore
.row-fluid
	.span4
		.header
			.icon-agenda
			%h1 agenda cultural
			.cierre-oscuro
	.span4
		.header
			.icon-mas
			%h1 más san fernando
			.cierre-oscuro
	.span4
		.header
			.icon-conectate
			%h1(styl="margin-top:8px;") conectate
			.cierre-oscuro
.row-fluid
	= render '/layouts/agenda'
	= render '/layouts/mas_sanfer'
	= render '/layouts/conectate'