.top.top-section
  %h1 ACCESOS, AGENCIAS DE TURISMO Y COMERCIOS
  .cierre-oscuro
.left
  .grid-8-12
    .news-inside
      .item
        .slider-contenido
          = link_to '', '#', {:class => 'prevContenido'}
          = link_to '', '#', {:class => 'nextContenido'}
          .container
            .ph
              = image_tag("sections/accesosyagencias1.jpg")
            .ph
              = image_tag("sections/accesosyagencias2.jpg")
            .ph
              = image_tag("sections/accesosyagencias3.jpg")
            .ph
              = image_tag("sections/accesosyagencias4.jpg")
            .ph
              = image_tag("sections/accesosyagencias5.jpg")
        .data
          %p San Fernando es una ciudad conformada por diferentes barrios que se han ido integrando a la trama urbana de manera paulatina, consolidándose como una ciudad comunicada y transitable. Con el 95% de sus calles pavimentadas y la extensión de las redes de servicios (agua corriente, cloacas, gas, electricidad y alumbrado público)  los sanfernandinos cuentan con la infraestructura necesaria para una mejor calidad de vida. 
          %p San Fernando está conectado con las ciudades vecinas de Tigre y San Isidro a través de los túneles bajo a nivel en los cruces de vías ubicados en la Ruta 197 y la Avenida Presidente Perón, que agilizan y brindan seguridad en los accesos Norte y Sur de la ciudad. La circulación dentro de la ciudad en sentido Este-Oeste sigue siendo un desafío dado que la Autopista Pallazo del Acceso Norte y las vías de TBA que unen Retiro-Tigre atraviesan la ciudad, interceptando la circulación en los principales ejes de conexión como las Rutas 202 y 197 y las avenidas Avellaneda y Uruguay. Para resolver esta problemática, está en marcha la construcción de un nuevo paso a nivel en el cruce de la Ruta 202 y las vías, y se están estudiando otros dos túneles en diferentes puntos del distrito.
          %p Entre otros accesos, San Fernando está estratégicamente ubicado a escasos metros de la Autopista Panamericana, de la Autopista Camino del Buen Ayre y cuenta con tres líneas ferroviarias: el ramal Retiro-Tigre, el ramal Victoria-Capilla del Señor (ambas de TBA) y la línea del Tren de la Costa que une Vicente López y Tigre.
          %p 
            Nuestro Partido conserva sus atractivos tradicionales, en armonía con el desarrollo urbano, los que sumados a la belleza del Delta la hacen un polo turístico y cultural de gran importancia en la Región.
          %p
            %strong 
              Los turistas pueden llegar a través de diferentes vías:
          %ul
            %li.bullet
              %p 
                %strong EN AUTOMOVIL: 
                Desde La Ciudad Autónoma de Buenos Aires (Sur), por la Avenida del Libertador General San Martín en el denominado “bajo”; o bien desde la Avenida Cabildo (recorriendo los distritos de Vicente López y San Isidro) se accede a la ciudad por el túnel que limita con este último partido de la Zona Norte a la Avenida Presidente Perón. Asimismo, puede accederse por el Acceso Norte de la ruta Panamericana, bajando en las salidas que van desde la calle Uruguay (en el límite con San Isidro) y la Ruta 197(límite con Tigre)
          
            %li.bullet
              %p 
                %strong EN TREN: 
                Desde la Ciudad Autónoma de Buenos Aires, el Ferrocarril Mitre (TBA) en la desde la Estación cabecera de Retiro, acerca a los visitantes a las estaciones de tren ubicadas en el distrito: Victoria, Virreyes, San Fernando y Carupá. Por su parte, el Tren de la Costa acerca a los turistas desde la estación Maipú (en Olivos, Partido de Vicente López) hasta las estaciones ubicadas en la ciudad: Punta Chica, Marina Nueva y San Fernando. 
                %br
                Desde el vecino partido de Tigre utilizando los mismos servicios públicos de pasajeros.
            %li.bullet
              %p 
                %strong EN COLECTIVO: </strong>Las líneas de colectivos que transitan por la ciudad de San Fernando son:
                %br 
                + 60 (en todos sus ramales)
                %br 
                + 365
                %br 
                + 203
                %br 
                + 343            
          %p Una vez que se arriba a San Fernando, los visitantes no deben perderse ninguna atracción. Para ello, se pueden contactar agencias de turismo que ofrecen paquetes de paseos y excursiones para aquellos que deseen conocer en profundidad nuestro partido. Las más destacadas en cuanto a calidad y servicio son:
          %ul
            %li.bullet.datos
              %p 
                %strong ARGONAUTAS
                %br
                Dirección: Santamarina 1210, Victoria
                %br
                Teléfonos:  4746-2223 // 4745-6417
                %br
                = link_to 'www.argonautasonline.com', 'www.argonautasonline.com', {:class => "web-bullet"}
                = link_to   'iesteves@argonautasonline.com', 'mailto:iesteves@argonautasonline.com', {:class => "mail-bullet"}
            %li.bullet.datos
              %p 
                %strong MIND THE GAP
                %br
                Dirección: Avenida del Libertador 3501 Local 3, Victoria.
                %br
                Teléfono: 5983-0985
                %br        
                = link_to 'www.mind-the-gap.com.ar', 'www.mind-the-gap.com.ar', {:class=> "web-bullet"} 
                = link_to  'mailto:info@mind-the-gap.com.ar','info@mind-the-gap.com.ar', {:class=> "mail-bullet"}
            %li.bullet.datos
              %p 
                %strong KETRAVEL</strong>
                %br
                Dirección: Venta de pasajes. Agencia de viajes y turismo. Constitución 1189
                %br/
                Teléfonos: 4890-2228 / 4890-2282
                %br     
                = link_to  "www.ketravel.com.ar", 'www.ketravel.com.ar', {:class=> "web-bullet"}
                = link_to  'ketravel@ketravel.com.ar', "mailto:ketravel@ketravel.com.ar", {:class=> "mail-bullet"}
                  
            %li.bullet.datos
              %p 
                %strong BUCCHIERI TURISMO</strong>
                %br
                Dirección: Suipacha 2160, Victoria
                %br
                Teléfono: (011) 4745-6810
                %br  
            %li.bullet.datos
              %p 
                %strong FLICHT TOURS SRL
                %br
                Dirección: Ruta Provincial 202, San Fernando
                %br
                Teléfono: 4714-5238
                %br
            %li.bullet.datos
              %p 
                %strong PLANETA DELTA PASEOS
                %br
                Dirección: Río Abra Vieja y Sarmiento, San Fernando
                %br
                Teléfono: 156-848-2986
                %br
            %h4>CENTROS COMERCIALES
            %p Los principales Centros Comerciales a Cielo Abierto de la ciudad se encuentran en la calle Santamaría de Victoria, la Avenida Avellaneda de Virreyes y la calle Constitución de San Fernando. La oferta comercial caracteriza a nuestra ciudad que  convoca a vecinos de toda la región.              
<!-- SHARE -->        
