.row-fluid.subtitle
  %h1 BALANCES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 Descargar archivo
        .download
          = image_tag("application-pdf.png")
          %a{:href => "contenido/files/Estado_financiero_al_31-12-12.pdf"} Estado financiero al 31-12-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "contenido/files/sit.economico-financiera_al_30-6-12.pdf"} Situaci贸n econ贸mico-financiera al 30-6-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "contenido/files/situacion_financiera_al_30-9-12.pdf"} Situaci贸n financiera al 30-9-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "contenido/files/situacion_financiera_al_31-03-12.pdf"} Situaci贸n financiera al 31-03-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/Estado_Economico_Financiero%3Aal_31-12-2011.pdf"} Estado Economico Financiero:al 31-12-2011.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/Estado_Economico_Financiero%20al%2031-03-12.pdf"} Estado Economico Financiero al 31-03-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/Estado%20Economico%20Financiero%20al%2030-6-12.pdf"} Estado Economico Financiero al 30-6-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/situacion_financiera_al_31-3-2013.pdf"} Estado Economico Financiero al 31-3-13.pdf