.row-fluid.subtitle
  %h1 BALANCES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      .data
        %h4 Descargar archivo
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/estado-economico-financiero-al-31-12-14.pdf"} Estado Económico Financiero al 30-09-14.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/estado-economico-financiero-al-30-09-14.pdf"} Estado Económico Financiero al 30-09-14.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/estado_economico_financiero_al_30-6-14.pdf"} Estado Económico Financiero al 30-6-14.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/estado_economico_financiero_al 31-3-14.pdf"} Estado Económico Financiero al 31-3-14.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/situacion_financiera_al_31-12-13.pdf"} Estado Económico Financiero al 31-12-13.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/estado_financiero_al_30-9-13.pdf"} Estado Económico Financiero al 30-09-13.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/estado_financiero_al_30-6-13.pdf"} Estado Económico Financiero al 30-06-13.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/system/pdf/situacion_financiera_al_31-3-13.pdf"} Estado Económico Financiero al 31-03-13.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/Estado_financiero_al_31-12-12.pdf"} Estado Económico Financiero al 31-12-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/situacion_financiera_al_30-9-12.pdf"} Estado Económico Financiero al 30-09-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/sit.economico-financiera_al_30-6-12.pdf"} Estado Económico Financiero al 30-06-12.pdf
        .download
          = image_tag("application-pdf.png")
          %a{:href => "system/pdf/situacion_financiera_al_31-03-12.pdf"} Estado Económico Financiero al 31-03-12.pdf
        / .download
        /   = image_tag("application-pdf.png")
        /   %a{:href => "http://www.sanfernando.gov.ar/system/pdf/Estado_Economico_Financiero%3Aal_31-12-2011.pdf"} Estado Económico Financiero al 31-12-2011.pdf