.row-fluid.subtitle
  %h1 INTENDENCIA
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/intendencia1.jpg")
          .ph
            = image_tag("sections/intendencia2.jpg")
          .ph
            = image_tag("sections/intendencia3.jpg")
          .ph
            = image_tag("sections/intendencia4.jpg")
          .ph
            = image_tag("sections/intendencia5.jpg")
          .ph
            = image_tag("sections/intendencia6.jpg")
        / END SLIDER
      .data
        %p El intendente Luis Andreotti asumió su mandato el 10 de diciembre de 2011. Las prioridades de la gestión que lleva adelante junto a los miembros del Departamento Ejecutivo, se resumen en los siguientes puntos principales:
        %ul
          %li.bullet
            %p La Seguridad y las estrategias a implementar con fondos municipales (cámaras de seguridad, patrullas y destacamentos)
          %li.bullet
            %p La Cultura y el Deporte, fomentando competencias y espectáculos regionales como herramienta de contención social (Escuelas de Formación Artística y Boxeo)
          %li.bullet
            %p La Salud y el trabajo de campo realizado desde el área de Desarrollo Social, Medio Ambiente y Salud Pública, para disminuir el alto índice de mortalidad infantil en el distrito.
          %li.bullet
            %p La Economía y la importancia de la buena administración de los recursos de los vecinos.
          %li.bullet
            %p La Educación, como motor que permite igualar oportunidades.
          %li.bullet
            %p Obras Públicas, con el fin de modernizar los espacios urbanos de la ciudad (IUNA, Túnel 202, Túnel Simón de Iriondo, Plaza Dorrego, etc)
          %li.bullet
            %p La relación con las empresas prestadoras de servicios: TBA, Tren de la Costa, Autopistas del Sol, Transporte automotor de pasajeros, AySA S.A, Edenor y Cables Antenas.
          %li.bullet
            %p La relación Provincia- Municipio en los temas de: coparticipación, créditos con Banco Provincia, impuestos y descentralización e ingresos por juegos de azar.
          %li.bullet
            %p La municipalización del servicio de barrido de las calles y el reforzamiento de otros servicios de limpieza.
        %p Los interesados pueden consultar el mensaje brindado por el Intendente Andreotti en la apertura de sesiones ordinarias del Concejo Deliberante local, el lunes 16 de abril, bajando el archivo adjunto.
        .download
          %h4 Descargar archivo
          = image_tag("application-pdf.png")
          %a{:href => "http://www.sanfernando.gov.ar/sites/default/files/Discurso%20Intendente%20Andreotti%20-%20HCD_0.pdf", :type => "file"} Discurso Intendente Andreotti - HCD.pdf