.row-fluid.subtitle
  %h1 LUGARES HISTORICOS
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/lugareshistoricos1.jpg")
          .ph
            = image_tag("sections/lugareshistoricos2.jpg")
          .ph
            = image_tag("sections/lugareshistoricos3.jpg")
          .ph
            = image_tag("sections/lugareshistoricos4.jpg")
          .ph
            = image_tag("sections/lugareshistoricos5.jpg")
          .ph
            = image_tag("sections/lugareshistoricos6.jpg")
          .ph
            = image_tag("sections/lugareshistoricos7.jpg")
          .ph
            = image_tag("sections/lugareshistoricos8.jpg")
        / END SLIDER
      .data
        %ul
          %li.bullet
            %p
              %strong El PALACIO SANS SOUCI
              %br/
              El palacio Sans Souci es uno de los edificios más representativos de Buenos Aires y de la Argentina. Fue construido entre 1914 y 1918 e inaugurado con una gran fiesta a la que acudió toda la sociedad porteña de entonces. El edificio ha sido realizado sobre planos del arquitecto francés
              %a.link{:href => "http://es.wikipedia.org/wiki/Ren%C3%A9_Sergent"} René Sergent,
              y su construcción fue impulsada por
              %a.link{:href => "http://es.wikipedia.org/wiki/Carlos_Mar%C3%ADa_de_Alvear"} Carlos María de Alvear,
              nieto del General homónimo, héroe de la batalla de Ituzaingó, quien a su vez era primo de Marcelo Torcuato de Alvear, presidente de la Nación de 1922 a 1928. Su arquitectura, inspirada en los cánones del Renacimiento del Versalles, corresponde al estilo neoclásico francés. El palacio fue comprado hace más de cuarenta años por la familia Durini, y las obras de restauración fueron dirigidas por la arquitecta especialista en restauración de monumentos M. Josefina Barra de Durini. Sus jardines se extienden a 2 hectáreas dándole un marco imponente.
              Sus actuales dueños, el Dr. Eduardo Durini junto con su esposa María Josefina Barra (arquitecta especialista en restauración de monumentos), reacondicionaron el palacio: emprendieron grandes obras de infraestructura para obtener las comodidades actuales sin modificar la apariencia. Un ala del palacio se transformó en enormes departamentos para alojar a los futuros herederos de la familia.
          %li.bullet
            %p
              %strong QUINTA EL OMBU
              %br/
              El edificio de la Municipalidad comenzó a construirse en el año 1873 bajo la dirección del Arquitecto José Mairanes, la albañilería a cargo del señor Clemente Olivera y la carpintería de Esteban Salas. Fue inaugurado en el año 1876 durante la intendencia del señor Felipe Vela.
              La construcción es de estilo ecléctico y si bien aún conserva la fachada original, el interior fue remodelado en varias oportunidades a fin de hacerlo más funcional.
              En sus instalaciones, durante algunos años, funcionaron la Biblioteca y Museo Popular Juan Nepomuceno Madero, en algunos salones de la planta baja hasta que se mudaron a su actual edificio de la calle Constitución, en la esquina General Pinto.   Posteriormente y hasta 1973, sesionó el Honorable Concejo Deliberante.
              En el frente de entrada se puede observar el Escudo Municipal, aprobado por Decreto del HCD en el año 1938.
          %li.bullet
            %p
              %strong PALACIO MUNICIPAL
              %br/
              La quinta El Ombú, está ubicada en la esquina de la Avenida Libertador al 600. Fue declarado Lugar Histórico Nacional en el año 1970.
              La Quinta “El Ombú” fue declarada de “Utilidad Municipal” el 26 de septiembre de 1968 (a través del Decreto del Poder Ejecutivo local Nro. 5389).
              En la actualidad, allí funciona la Coordinación General de Monitoreo, Articulación y Gestión Cultural, donde se realizan cursos, conferencias, exposiciones artísticas y distintos eventos culturales.
              Para más información acerca de la Quinta El Ombú, dirigirse al link
              %strong CENTROS CULTURALES
              que se encuentra en el menú Gobierno de esta Web.
          %li.bullet
            %p
              %strong PALACIO BELGRANO (OTAMENDI)
              %br/
              Con un estilo de renacimiento alemán, luce en su exterior un romántico aspecto de castillo, techo de pizarra negra, escaleras en mármol de Carrara, vitrales con figuras geométricas, está ubicado en la calle Sarmiento 1427. Antiguamente, hacia la calle Belgrano, se encontraban las caballerizas y la casa de los caseros que tenía un gran molino de viento.
              El palacio fue construido entre 1860 y 1870 por los descendientes del Comandante del Pago de las Conchas y Punta Gorda Carlos Belgrano, los Belgrano Rawson y los Vega Belgrano.  Uno de ellos, Joaquín, fallece siendo muy joven y su viuda, doña Josefina Rawson, vende la propiedad al Ingeniero Rómulo Otamendi, quien fija su residencia de verano junto a su esposa Matilde Carballo.
              Cuando Matilde fallece, en 1916, el Ingeniero Otamendi dona la casa a la Sociedad de Beneficencia de la Capital. Las Hermanas de los Santos Ángeles Custodios, congregación española fundada por la Beata Rafaela Ibarra de Vilallonga, se hacen cargo en 1936 con la anuencia de la Marquesa Pontifica Adela María Arilaos de Olmos, presidente de la Sociedad.
              Luego de la esforzada labor apostólica las Hermanas, el palacio pasa a manos del Consejo del Menor y la Familia del Estado Nacional.
          %li.bullet
            %p
              %strong MUSEO DE LA CIUDAD SAN FERNANDO DE BUENA VISTA
              %br/
              La historia de esta casona -actual Museo Ciudad San Fernando de Buena Vista- se inicia en 1871, cuando la familia Jacobé adquiere la propiedad para trasladarse con su numerosa familia, huyendo de la epidemia de fiebre amarilla que azotaba a Buenos Aires. Ubicada en la manzana delimitada por la calle Ituzaingó, las avenidas del Libertador y Presidente Perón, y la calle Alvear, es una de las últimas construcciones de finales del siglo XIX.
              Para más información acerca del Museo, dirigirse al link
              %strong CENTROS CULTURALES
              en el menú Gobierno de esta Web.
          %li.bullet
            %p
              %strong PARROQUIA ARANZAZU
              %br/
              Ubicada frente a la Plaza Mitre, en la calle central Constitución al 900. Su nombre se debe a la devoción de los primeros pobladores vascos hacia la Virgen de Aránzazu. Su imagen se conoció en 1979 cuando se trae una réplica de la imagen original que se encuentra en España desde 1469, cuando el pastor de ovejas Rodrigo de Balzategui la encuentra en tierras de Guipúzcoa. Dada su importancia histórica, fue declarada Monumento Histórico Provincial y Municipal, en 1988 (Ley 10672/Ordenanza 1767).
              Con un estilo arquitectónico neo románico en el exterior y neoclásico en su interior, tiene una planta basilical de tres naves, una central y dos laterales, divididas por seis columnas. Además de un altar mayor, dispone de seis altares menores dedicados a distintos santos. Las ventanas superiores tienen forma de rosetas con vitrales de gran belleza y colorido.
              La Iglesia posee dos torres con forma de agujas que se elevan a poco más de 40 metros de altura. En una de estas torres se encuentra el campanario compuesto por dos campanas de bronce, y en la parte superior de estas torres hay dos cruces de hierro forjado. Las estructuras de las torres fueron restauradas, y su revestimiento reemplazado por cobre.
              El plan de obras para San Fernando presentado en marzo de 2009, contempla la restauración integral de esta parroquia en el marco de la puesta en valor del Centro Cívico de la ciudad.
          %li.bullet
            %p
              %strong BIBLIOTECA Y MUSEO POPULAR “JUAN NEPOMUCENO MADERO”
              %br/
              Fundada en 1873 por Juan Nepomuceno Madero, a inspiración de Amancio Alcorta y secundado por amigos y vecinos, es una de las bibliotecas más antiguas del país. Ocupó distintos lugares hasta que en 1922 se instaló en el actual edificio ubicado en la esquina de Constitución y General Pinto, construido por los arquitectos Velásquez y Estévez
              Para más información sobre la Biblioteca, dirigirse al link
              %strong BIBLIOTECAS POPULARES
              en el menú de Gobierno de esta Web.