.row-fluid.subtitle
  %h1 PLAZAS Y PARQUES
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/plazasyparques1.jpg")
          .ph
            = image_tag("sections/plazasyparques2.jpg")
          .ph
            = image_tag("sections/plazasyparques3.jpg")
          .ph
            = image_tag("sections/plazasyparques4.jpg")
          .ph
            = image_tag("sections/plazasyparques5.jpg")
          .ph
            = image_tag("sections/plazasyparques6.jpg")
          .ph
            = image_tag("sections/plazasyparques7.jpg")
          .ph
            = image_tag("sections/plazasyparques8.jpg")
          .ph
            = image_tag("sections/plazasyparques9.jpg")
          .ph
            = image_tag("sections/plazasyparques10.jpg")
          .ph
            = image_tag("sections/plazasyparques11.jpg")
        / END SLIDER
      .data
        %ul
          %li.bullet
            %p
              %strong PARQUE DEL BICENTENARIO
              %br/
              Dicho parque es un gran espacio público recuperado para la ciudad e inaugurado en el año 2007. Cuenta con 8.000 m2 y está ubicado en Ruta 202, entre las calles French y Sarratea.
              Uno de sus componentes importantes lo constituyen las históricas compuertas del Dique de Carena del Canal San Fernando, construido en 1875, bajo la dirección del Ingeniero Huergo. Con 118 metros de largo y 20 metros de ancho, fue el primer dique seco que se erigió en el país, vinculado al desarrollo de la actividad náutica local.
              A diferencia de los parques clásicos, este parque se basa en un nuevo concepto de uso e integración urbana. Contempla dos grandes sectores: un atrio cívico de ceremonias (equipado con tres mástiles) y una plaza con sectores para juegos infantiles, lugares verdes para el descanso y espacios para el encuentro social de las personas mayores. A fin de garantizar la seguridad de los usuarios, la plaza se encuentra rodeada por una reja perimetral y modernas columnas de iluminación.
          %li.bullet
            %p
              %strong PLAZA Y PASEO DEL CANAL
              %br/
              La Plaza está ubicada entre las calles Colón, 3 de Febrero, Pasaje Murcho y Almirante Brown, y no solo constituye un nudo de transferencia de pasajeros y punto de encuentro entre los Municipios de San Fernando y Tigre, sino que también es un área importante de uso público. Histórica puerta de entrada a la ciudad, el Canal se revitalizó con la finalización de la nueva Plaza “Carlos Pellegrini” inaugurada en 1998. Recibe este nombre cuando las autoridades municipales deciden homenajear al Dr. Carlos Pellegrini, en el año de su fallecimiento. En 1984, el sector ubicado entre el Pasaje Murcho y la calle Colón fue bautizado como “Plazoleta Luís Castellari”, en honor al sanfernandino que estuvo al frente de la comuna desde 1952, hasta el golpe militar de 1955.
              La remodelación encarada y financiada integralmente por el Municipio apuntó a armonizar el área conservándola como paseo familiar, incorporando adoquines, césped y forestación que integra con nuevos ejemplares arbóreos y arbustos.
              Este espacio público se destaca por una fuente de agua con cinco picos verticales en el centro, doce generadores de niebla y veinticuatro picos secundarios convergentes. Exhibe la sierra histórica como homenaje a los aserraderos que formaron parte de la fisonomía de San Fernando desde sus albores y que formaron parte de la economía que se desarrollaba a la par del Canal, con maderas transportadas desde el Delta sanfernandino.
              %br/
              %strong El Paseo del Canal
              %br/
              Cuando la Municipalidad remodela este Paseo en forma conjunta con los trabajos de la Plaza -ubicado en Pasaje Murcho y Avenida del Libertador-, recupera un espacio antes degradado y lo convierte en un área verde de esparcimiento público. Los trabajos consistieron en el rediseño de la parquización existente, la redefinición de la viabilidad y los estacionamientos, iluminación, forestación urbana, colocación de semáforos y señalización.
              Sobre el cauce del Canal se destaca un juego de aguas compuesto por seis picos verticales en el centro, que alcanzan alturas máximas de hasta 17 metros, y 16 picos generadores de niebla. Por su parte, en las márgenes, a lo largo de 120 metros, se instalaron 44 picos convergentes, programados con movimientos de agua escalonados e intercalados.
              Uno de los objetivos de esta obra -inaugurada en 1998- fue mejorar el nivel de las napas subterráneas y purificar parte de las aguas que desembocan desde la cuenca del Arroyo Cordero. La fuente -instalada sobre el canal- utiliza dos bombas que extraen agua limpia de napas subterráneas, generando un caudal de tres millones de litros de agua por día aproximadamente.
          %li.bullet
            %p
              %strong PLAZA MITRE
              %br/
              Delimitada por las calles Sarmiento, Madero, Tres de Febrero y Constitución, constituye uno de los espacios públicos más importantes de San Fernando.
              Ubicada en el centro cívico de la ciudad,
              %strong la Plaza Bartolomé Mitre
              conserva la misma ubicación que le dio Eustaquio Gianini en los planos originales de fines de 1805, cuando comienza la vida del pueblo de San Fernando. Desde el año 1983 es Lugar Histórico Nacional, pero desde 1988 constituye un Monumento Histórico Municipal (Ordenanza Nº 1807).
              Originariamente, el espacio cumplía con las disposiciones hispánicas que establecían la Plaza Mayor como lugar de reunión del pueblo para actos y festividades religiosas y civiles. Hasta la actualidad, San Fernando es la única ciudad de la Región Metropolitana Norte que aún conserva esta cuadrícula hispánica.
              Con el tiempo la plaza fue remodelada y ornamentada con árboles y esculturas por iniciativa de Juan Nepomuceno Madero. En 1821 se le asigna el nombre Bernardino Rivadavia, en homenaje al primer Presidente del país. Ya en 1901, se la denomina como Bartolomé Mitre, quien además de haber desempeñado sus funciones, solía visitar San Fernando, hospedándose en el Hotel La Paz (que funcionaba donde hoy se encuentra el Bingo “King”).
              Por entonces, la plaza constituía un verdadero jardín público con frondosos eucaliptos y paraísos y una glorieta en su centro. Los fines de semana y los días de fiesta este espacio público era animado por bandas de música de aficionados locales.
              Además de sus usos tradicionales, los días sábados aloja los puestos de exposición y venta de artesanías y productos locales y tradicionales de la Feria Artesanal San Fernando, como así también espectáculos para toda la familia.
          %li.bullet
            %p
              %strong PLAZA DORREGO
              %br/
              Ubicada en Ingeniero White, Constitución, Ambrosoni y Tres de Febrero es la plaza principal de Victoria.
              Bajo el nombre del ilustre patricio Coronel Dorrego, y actualmente en remodelación, esta plaza pública fue inaugurada en 1926 por el Intendente Juan Urcola. Según detallan las crónicas de la época, en el mismo acto también se anunció el adoquinado de 58 cuadras de la localidad.
              Originalmente, fue construida sobre tierras adquiridas por expropiación a los descendientes de Carlos Casares y Máximo Rodríguez. La Ordenanza que designaba su creación y los recursos económicos para la compra del predio, surgieron a partir de un proyecto elaborado e impulsado por el senador sanfernandino Manuel Silva, aprobado por el Honorable Senado de la Provincia de Buenos Aires.
              En 1932, cuando transcurría la intendencia del Dr. Adolfo Arnoldi, la Plaza Dorrego fue embellecida con la construcción de una glorieta central, cuyas escalinatas de acceso y balcones otorgaron al paseo un característico toque de gracia y distinción. Hacia 1944, la plaza de Victoria fue totalmente remodelada por la administración del agrimensor Miguel Ángel Mansilla. Este espacio fue remodelado en el 2012.
          %li.bullet
            %p
              %strong PLAZA SARMIENTO
              %br/
              La remodelada Plaza Sarmiento integra la puesta en valor del Centro Cívico junto con la Plaza Mitre y otras obras en el casco histórico de la ciudad.
              Ubicada en 9 de Julio y 3 de Febrero, este espacio público tradicional atrae a los chicos por sus juegos infantiles y la calesita por la que pasaron varias generaciones de sanfernandinos.
              Los trabajos de remodelación fueron inaugurados en 2013 y consolidaron dos grandes sectores en esta plaza: el primero destinado a los juegos y el segundo con un perfil de alta circulación peatonal y un espacio cívico en torno a la estatua de Sarmiento, que es utilizado anualmente para realizar el acto cívico del Día del Maestro, junto a la comunidad educativa.