.row-fluid.subtitle
  %h1 RASGOS CARACTERISTICOS DE SAN FERNANDO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/rasgoscaracteristicos1.jpg")
          .ph
            = image_tag("sections/rasgoscaracteristicos2.jpg")
          .ph
            = image_tag("sections/rasgoscaracteristicos3.jpg")
          .ph
            = image_tag("sections/rasgoscaracteristicos4.jpg")
          .ph
            = image_tag("sections/rasgoscaracteristicos5.jpg")
        / END SLIDER
      .data
        %h4 SAN FERNANDO SE DISTINGUE
        %p
          Con el tiempo,
          %strong SAN FERNANDO
          fue creciendo demográfica y urbanisticamente. Muchos habitantes de este pueblo, sirvieron a la Patria en guerras y tuvieron influencia en su progreso cultural, político, industrial, educativo y comercial.
          %br/
          %br/
          Numerosos establecimientos educativos se asientan en el Partido de San Fernando. Estos se dividen en escuelas de nivel secundario estatales, escuelas de nivel secundario privadas, escuelas provinciales de nivel medio, escuelas oficiales primarias, escuelas privadas primarias, escuelas privadas de nivel medio, jardines de infantes, escuelas de enseñanza técnica, institutos de educación física y la Universidad Privada de San Andrés.
          %br/
          %br/
          San Fernando cuenta con un moderno Aeropuerto Internacional ubicado a unos 2 kilómetros del centro y en las cercanías del Delta del Río Paraná. El mismo, mantiene un moderno servicio aéreo de taxis y, actualmente, está destinado a la aviación general y a las actividades de las escuelas de vuelo.
          %br/
          %br/
          La producción tradicional tiene su foco máximo en la región del Delta. Este maravilloso lugar brinda formio, mimbre, juncos, madera, frutales, pulpa para papel y todo lo necesario para lograr que esta industria autóctona sea una de las más importantes. Además, esta zona es considerada como la más apta para todo lo que refiere a turismo y mini turismo de fin de semana ya que, la región, permite deportes náuticos, pesca y caza e increíbles parajes de gran belleza durante todo el año.
          %br/
          %br/
          Cabe destacar que, el 27 de octubre de 1972, San Fernando fue declarada
          %strong Capital Nacional de la Náutica
          , ya que alberga una enorme cantidad de embarcaciones, guarderías náuticas, clubes náuticos, astilleros, industrias y comercios dedicados al ramo. Además, se puede mencionar en este sentido que la Escuela de Educación Técnica Nº1 forma especialistas en Técnica Naval.