.row-fluid.subtitle
  %h1 SALÓN NÁUTICO ARGENTINO
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/salonnautico1.jpg")
          .ph
            = image_tag("sections/salonnautico2.jpg")
          .ph
            = image_tag("sections/salonnautico3.jpg")
          .ph
            = image_tag("sections/salonnautico4.jpg")
          .ph
            = image_tag("sections/salonnautico5.jpg")
          .ph
            = image_tag("sections/salonnautico6.jpg")
        / END SLIDER
      .data
        %p Del 13 al 22 de abril, se desarrollará el 19º Salón Náutico Argentino. La muestra más importante a nivel nacional de la industria del sector tendrá lugar en el Centro de Exposiciones Parque Náutico ubicada en Alte. Martín y Escalada, a orillas del Río Luján. Organizada por la Cámara Argentina de Construcción de Embarcaciones Livianas (CACEL) este evento se realiza cada dos años en la Capital Nacional de la Náutica.
        %h4 El Salón Náutico Argentino
        %p
          Desde 1973, este evento se ha constituido en un acontecimiento de primer orden entre las exposiciones que se realizan en el país y en una de las más importantes de América Latina en materia náutica. Lo organiza la Cámara Argentina de Construcción de Embarcaciones Livianas (CACEL) cada dos años.
          %br/
          %br/
          Se trata de una exposición nacional que agrupa a todos los sectores de esta industria y congrega una enorme cantidad de público. En ella, participan alrededor de 120 expositores, que representan a la casi totalidad de la industria, el comercio y las empresas de servicios del rubro.
          %br/
          %br/
          Hasta 2004, el Salón Náutico Argentino fue un evento itinerante. Dada esta característica, diferentes espacios fueron sede de esta muestra desde su creación: lugares como Marina Puerto Chico, El Albardón, La Rural, Puerto Madero y el Centro Naval Olivos han sido los centros de este encuentro de la “familia náutica” en diversas oportunidades.
          %br/
          %br/
          En el marco de los festejos por el aniversario de los 200 años de la ciudad, el Salón Náutico Argentino volvió a San Fernando en 2005. El 15° Salón Náutico Argentino inauguró su sede permanente en el Centro de Exposiciones Parque Náutico San Fernando ubicada en Alte. Martín y Escalada.
          %br/
          %br/
          Este predio -de 60.000 m2- dispone de un espacio privilegiado para la realización de grandes exposiciones frente al río Luján. Para la construcción de esta obra, el Consorcio Parque Náutico San Fernando S.A. destinó importantes recursos de las utilidades logradas con la administración de sus sedes Punta Chica y Puerto Chico.