.row-fluid.subtitle
  %h1 SALUD Y DESARROLLO SOCIAL
  .cierre-oscuro
/ LEFT
.span8(style="margin-left:0px;")
  .news-inside
    .item
      / SLIDER
      .slider-contenido
        %a.prevContenido{:href => "#"}
        %a.nextContenido{:href => "#"}
        .container
          .ph
            = image_tag("sections/saludydesarrollo1.jpg")
        / END SLIDER
      .data
        %p
          La ciudad de San Fernando cuenta con el
          %strong Hospital Provincial “Petrona V. De Cordero”
          ubicado en Belgrano 1955. Tel. 4744-5885/5883/2693. Emergencias: 4744-4457.
          Por su parte, el Municipio dispone de un servicio de ambulancia gratuito para todos los vecinos y alrededor de veinte Centros de Atención Primaria de la Salud ubicados en los diferentes barrios de la ciudad y en las Islas del delta sanfernandino.
        %h4 Servicios de Ambulancias “San Fernando Salud”
        %ul
          %li.bullet
            %p
              Línea gratuita 107 o 4549-0003 (llamando desde el celular)
              %br/
              Cinco ambulancias de alta complejidad, atienden urgencias y emergencias, en forma totalmente gratuita, durante las 24 horas los 365 días del año.
        %h4 Fonoturno
        %ul
          %li.bullet
            %p
              Línea gratuita (0800-888-5566)
              %br/
              Para solicitar turnos médicos en todas las dependencias municipales de atención primaria de la salud. Podés llamar de lunes a viernes, de 7 a 17; sábados, de 7 a 13.
        %h4 Centros de Atención Primaria de la Salud
        %p A continuación, el listado de los centros de salud y las dependencias municipales de atención médica en la ciudad y las islas.
        %ul
          %li.bullet
            %p
              %strong C.S.Reinecke
              = succeed "Direcci\u{f3}n:" do
                %br/
              Alvear y Servetto.
              %br>/
              Teléfono: 4746-3856
          %li.bullet
            %p
              %strong C:S.Bertrés
              = succeed "Direcci\u{f3}n:" do
                %br/
              Azcuénaga 1745
              %br>/
              Teléfono: 4714-6214
          %li.bullet
            %p
              %strong C.S.Crisol
              = succeed "Direcci\u{f3}n:" do
                %br/
              Martín Rodríguez y Tucumán
              %br>/
              Teléfono: 4746-4126
          %li.bullet
            %p
              %strong C.S.Finochietto
              = succeed "Direcci\u{f3}n:" do
                %br/
              Ruta 202 Km 5
              %br>/
              Teléfono: 4714-6492
          %li.bullet
            %p
              %strong C.S.Piaggi
              = succeed "Direcci\u{f3}n:" do
                %br/
              Málaga y Garibaldi
              %br>/
              Teléfono: 4714-7094
          %li.bullet
            %p
              %strong C.S.Gálvez
              = succeed "Direcci\u{f3}n:" do
                %br/
              Portugal 2276
              %br>/
              Teléfono: 4714-1664
          %li.bullet
            %p
              %strong C.S.María Isabel
              = succeed "Direcci\u{f3}n:" do
                %br/
              Arenales 3220
              %br>/
              Teléfono: 4746-1941
          %li.bullet
            %p
              %strong C.S.Di Matteo
              = succeed "Direcci\u{f3}n:" do
                %br/
              Sarmiento 3244
              %br>/
              Teléfono: 4744-1718
          %li.bullet
            %p
              %strong C.S.Nº 26
              = succeed "Direcci\u{f3}n:" do
                %br/
              Maipú 2354
              %br>/
              Teléfono: 4746-4132
          %li.bullet
            %p
              %strong C.S.Nº 27
              = succeed "Direcci\u{f3}n:" do
                %br/
              25 de Mayo 2290
              %br>/
              Teléfono: 4744-3138
          %li.bullet
            %p
              %strong C.S.Nº 31
              = succeed "Direcci\u{f3}n:" do
                %br/
              Garibaldi 2727
              %br>/
              Teléfono: 4746-3921
          %li.bullet
            %p
              %strong C.S.Nº 66
              = succeed "Direcci\u{f3}n:" do
                %br/
              Balcarce 2954
              %br>/
              Teléfono: 4714-5159
          %li.bullet
            %p
              %strong CIC de Villa Jardín
              = succeed "Direcci\u{f3}n:" do
                %br/
              Guatemala 3069
              %br>/
              Teléfono: 4714-6746
          %li.bullet
            %p
              %strong U.S. La Unión
              = succeed "Direcci\u{f3}n:" do
                %br/
              Ituzaingó 3650
              %br>/
              Teléfono: 4714-6861
          %li.bullet
            %p
              %strong U.S.Barrio Mejoral
              = succeed "Direcci\u{f3}n:" do
                %br/
              Guido Spano 3134
              %br>/
              Teléfono: 4744-9156
          %li.bullet
            %p
              %strong U.S.San Ginés
              = succeed "Direcci\u{f3}n:" do
                %br/
              Chacabuco 4450
              %br>/
              Teléfono: 4575-3444
          %li.bullet
            %p
              %strong U.S.Barrio Alsina
              = succeed "Direcci\u{f3}n:" do
                %br/
              La Plata 1242
              %br>/
              Teléfono: 4776-4353
          %li.bullet
            %p
              %strong Consultorio Médico Municipal
              = succeed "Direcci\u{f3}n:" do
                %br/
              Necochea 1398
              %br>/
              Teléfono: 4744-4791
          %li.bullet
            %p
              %strong Instituto de Ortodoncia
              = succeed "Direcci\u{f3}n:" do
                %br/
              Necochea 1396
              %br>/
              Teléfono: 4746-3472
          %li.bullet
            %p
              %strong Fiscalización Sanitaria
              = succeed "Direcci\u{f3}n:" do
                %br/
              Malvinas Argentinas e Italia
              %br>/
              Teléfono: 4745-5999
          %li.bullet
            %p
              %strong Centro de Zoonosis
              = succeed "Direcci\u{f3}n:" do
                %br/
              Malvinas Argentinas 3100
              %br>/
              Teléfono: 4580-5732
        %br/
        %h4 EN ISLAS DEL DELTA DEL PARANÁ –1ra y 2da. Sección-
        %ul
          %li.bullet
            %p
              %strong Hospital “Dr. Oscar Do Porto”
              = succeed "Direcci\u{f3}n:" do
                %br/
              Río Paraná de las Palmas y Río Carabelas
              %br>/
              Teléfono: 4728-0026
          %li.bullet
            %p
              %strong Hospital “Dr. René Favaloro”
              = succeed "Direcci\u{f3}n:" do
                %br/
              Río Paraná Miní y Canal 4
              %br>/
              Teléfono: 4728-0270
          %li.bullet
            %p
              %strong Hospital “Dr. Ramón Carrillo”
              = succeed "Direcci\u{f3}n:" do
                %br/
              Río Paraná Miní y Arroyo Chaná
              %br>/
              Teléfono: 4728-2434
          %li.bullet
            %p
              %strong C. S. “Absalón Rojas”
              = succeed "Direcci\u{f3}n:" do
                %br/
              Arroyo Felicaria
              %br>/
              Teléfono: 4728-2386