.row-fluid.subtitle
  %h1
    Talleres Culturales Municipales 2015
  .cierre-oscuro
.span8(style="margin-left:0px;")
  .news-inside
    = image_tag("talleres1.jpg")
    = image_tag("talleres2.jpg")
    = image_tag("talleres3.jpg")
    = image_tag("talleres4.jpg")
    = image_tag("talleres5.jpg")
    = image_tag("talleres6.jpg")
    = image_tag("talleres7.jpg")
    = image_tag("talleres8.jpg")
    = image_tag("talleres9.jpg")
    = image_tag("talleres10.jpg")
    = image_tag("talleres11.jpg")
    = image_tag("talleres12.jpg")
    = image_tag("talleres13.jpg")
    = image_tag("talleres14.jpg")
    = image_tag("talleres15.jpg")