.row-fluid.subtitle
	%h1 agenda de mes actual
	= form_tag({:action => :index}, :class => "meses") do
		= select_tag "months", options_for_select((@months), I18n.l(Date.today, :format => '%B').humanize)
		= submit_tag "Consultar", :class => 'button'
	.cierre-oscuro
.span8(style="margin-left:0px;")
	- @calendars.each do |calendar|
		.span4
			.item
				= link_to(calendar_path(calendar), :class => 'agenda') do
					%h5 #{I18n.l(calendar.fecha, :format => '%d %B %Y')}
					- unless calendar.images.empty?
						= image_tag(calendar.images.first.file.url(:small))
					%h1 #{calendar.title}
