.row-fluid.subtitle
	%h1 Agenda
	.cierre-oscuro
.span8(style="margin-left:0px;")
	.news-inside
		.item
			.titlefull
				- unless @calendar.fecha.nil?
					%h5 
						#{I18n.l(@calendar.fecha, :format => '%d %B %Y')}
				%h2 #{@calendar.title}
				%h3 #{@calendar.subtitle}
			.ph
				.phslider
					- @calendar.images.each do |image|
						= image_tag(image.file.url(:large))
				= link_to('', "#", :class => "prevslider")
				= link_to('', "#", :class => "nextslider")
			.data
				- unless @calendar.info.nil?
					%h2 Información
					%p #{@calendar.info}
				- unless @calendar.detail.nil?
					%h2 Detalle
					- @detail.each do |detail|
						%p #{detail}
				- unless @calendar.documents.empty?
					%h2 Documentos Relacionados
					- @calendar.documents.each do |doc|
						= link_to doc.file_file_name, doc.file.url, target: '_blank'