.row-fluid.subtitle
	%h1 Agenda
	.cierre-oscuro
.span8(style="margin-left:0px;")
	.news-inside
		.item
			.ph
				.phslider
					- @calendar.images.each do |image|
						= image_tag(image.file.url(:large))
				= link_to('', "#", :class => "prevslider")
				= link_to('', "#", :class => "nextslider")
			.data
				%h5 
					#{I18n.l(@calendar.fecha, :format => '%d %B %Y')}
				%h2 #{@calendar.title}
				%h3 #{@calendar.subtitle}
				%p #{@calendar.info}
				%p #{@calendar.detail}