.span4
	- @calendars.each do |calendar|
		.item
			= image_tag(calendar.images.first.file.url(:large), :class => 'ph')
			.date
				%h1 #{calendar.fecha.strftime("%d")}
				%h2 
					de 
					%br 
					#{I18n.l(calendar.fecha, :format => "%B")}
			.data
				%h4 #{calendar.title}
				#{calendar.info}
