.span4
	%h1(style="font-size:20px; color:#999;") Videos Importantes
	%iframe(style="margin-top:5px;" width="304" height="171" src="http://www.youtube.com/embed/73Olon6feIo?list=PLVCrWlddCNDDXLF739fBGs7oaQ8CEPfhD" frameborder="0" allowfullscreen)

	%h1(style="font-size:20px; color:#999; margin-top:6px") Droga NO
	= link_to(drogano_path, :class => 'bannerbox') do
		= image_tag("drogano.jpg")	

	%h1(style="font-size:20px; color:#999; margin-top:6px") Vacaciones de Invierno
	= link_to('http://www.sanfernando.gob.ar/vacaciones_invierno'), :class => 'bannerbox') do
		= image_tag("vacas_inv-web.jpg")

	%h1(style="font-size:20px; color:#999; margin-top:6px") Descuentos en tasas municipales
	.bannerbox
		= image_tag("descuentos_web.jpg")
		