/FACEBOOK 
#fb-root
:javascript
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

#main
	#top
		#nav
			#logo
			#menu
				%ul
					%li 
						= link_to 'Inicio', root_path
					%ul.dropdown.ciudad 
						%li.active
							= link_to 'La ciudad', '' 
						%li.active-inside
							= link_to 'El Delta',''
							%ul.drop-inside
								%li 
									= link_to 'Clima y suelo', sections_path(:id => 'climaysuelo')
								%li 
									= link_to 'Curiosidades del Delta', sections_path(:id => '')
								%li 
									= link_to 'Flora y fauna', sections_path(:id => '')
								%li 
									= link_to 'Producción sustentable', sections_path(:id => '')
								%li 
									= link_to 'Reserva de biosfera', sections_path(:id => '')
								%li 
									= link_to 'Sección Islas del Delta', sections_path(:id => '')
						/ NAUTICA
						%li.active-inside
							= link_to 'Náutica'
							%ul.drop-inside
								%li 
									= link_to 'Salón náutico', sections_path(:id => '')
								%li 
									= link_to 'Consorcio parque náutico', sections_path(:id => 'consorcioparquenautico')
								%li 
									= link_to 'Clubes, guarderías y marinas', sections_path(:id => 'clubesymarinas')
								%li 
									= link_to 'Industria', sections_path(:id => '')
							
						/ TELEFONOS 
						%li.active-inside
							= link_to 'Teléfonos útiles'
							%ul.drop-inside
								%li 
									= link_to 'Oficinas municipales', sections_path(:id => '')
								%li 
									= link_to 'Salud', sections_path(:id => '')
								%li 
									=link_to 'Seguridad', sections_path(:id => '')
								%li 
									=link_to 'Servicios básicos', sections_path(:id => '')
							
						/ TURISMO 
						%li.active-inside
							= link_to 'Turismo'
							%ul.drop-inside
								%li 
									= link_to 'Accesos y agencias de turismo', sections_path(:id => 'accesosyagencias')
								%li 
									= link_to 'Aeropuerto internacional', sections_path(:id => 'aeropuertointernacional')
								%li 
									= link_to 'Ecoturismo y pesca deportiva', sections_path(:id => '')
								%li 
									= link_to 'Gastronomía', sections_path(:id => '')
								%li 
									= link_to 'Hospedaje', sections_path(:id => '')
							
						/ SITIOS DE INTERES 
						%li.active-inside
							= link_to 'Sitios de interés'
							%ul.drop-inside
								%li 
									= link_to 'Costaneras públicas', sections_path(:id => '')
								%li 
									= link_to 'Ferias artesanales', sections_path(:id => '')
								%li 
									= link_to 'Lugares históricos', sections_path(:id => '')
								%li 
									= link_to 'Plazas y parques', sections_path(:id => '')
								%li 
									= link_to 'Teatros', sections_path(:id => '')
							
						/ ESTADISTICAS Y CENSOS 
						%li 
							= link_to 'Estadísticas y censos'
						/ HISTORIA 
						%li.active-inside
							= link_to 'Historia'
							%ul.drop-inside
								%li 
									= link_to 'Bandera y escudo', sections_path(:id => 'banderayescudo')
								%li 
									= link_to 'Localidades del partido', sections_path(:id => '')
								%li 
									= link_to 'Orígenes del municipio', sections_path(:id => '')
								%li 
									= link_to 'Puntos principales del crecimiento de San Fernando', sections_path(:id => '')
								%li 
									= link_to 'Rasgos característicos de San Fernando', sections_path(:id => '')
							
						/ DATOS UTILES 
						%li 
							= link_to 'Datos útiles', sections_path(:id => '')
						/ MEDIO AMBIENTE 
						%li 
							= link_to 'Medio ambiente', sections_path(:id => '')
					

					/GOBIERNO 
					%ul.dropdown.gobierno
						%li.active
						= link_to 'Gobierno', ''
						%li 
							= link_to 'Intendencia'
						/ AUTORIDADES 
						%li.active-inside
							= link_to 'Autoridades'
							%ul.drop-inside
								%li 
									= link_to 'Secretaría de desarrollo social, medio ambiente y salud pública', sections_path(:id => 'autoridades1')
								%li 
									= link_to 'Secretaría de economía', sections_path(:id => 'autoridades2')
								%li 
									= link_to 'Secretaría de educación, cultura y contención social', sections_path(:id => 'autoridades3')
								%li 
									= link_to 'Secretaría de gobierno', sections_path(:id => 'autoridades4')
								%li 
									= link_to 'Secretaría de obras e infraestructura pública', sections_path(:id => 'autoridades5')
								%li 
									= link_to 'Secretaría de privada y coordinación', sections_path(:id => 'autoridades6')
								%li 
									= link_to 'Secretaría de protección ciudadana', sections_path(:id => 'autoridades7')
							
						/ CULTURA Y DEPORTE 
						%li.active-inside
							= link_to 'Cultura y deporte'
							%ul.drop-inside
								%li.inside-1
									= link_to 'Cultura'
									%ul.drop-inside-2.inside-1-li
										%li 
											= link_to 'Bibliotecas populares', sections_path(:id => 'bibliotecaspopulares')
										%li 
											= link_to 'Centros culturales', sections_path(:id => 'centrosculturales')
										%li 
											= link_to 'Escuela de formación artística', sections_path(:id => '')
										%li 
											= link_to 'Talleres culturales'
							%ul.drop-inside
								%li.inside-2
									= link_to 'Deportes'
									%ul.drop-inside-2.inside-2-li
										%li 
											= link_to 'CE.DE.C. Nº1', sections_path(:id => 'cedec1')
										%li 
											= link_to 'CE.DE.C. Nº2', sections_path(:id => 'cedec2')
										%li 
											= link_to 'CE.DE.C. Nº3', sections_path(:id => 'cedec3')
										%li 
											= link_to 'Escuelas deportivas', sections_path(:id => '')
										%li 
											= link_to 'Torneos', sections_path(:id => '')
						/ ECONOMIA 
						%li.active-inside
							= link_to 'Economía'
							%ul.drop-inside
								%li 
									= link_to 'Balances', sections_path(:id => 'balances')
						%li.active-inside
							= link_to 'Empleo'
							%ul.drop-inside
								%li 
									= link_to 'Empleo joven', sections_path(:id => '')
						%li 
							= link_to 'Obras públicas', sections_path(:id => '')

						%li.active-inside
							= link_to 'Salud y desarrollo social'
							%ul.drop-inside
								%li 
									= link_to 'Materno infantil', sections_path(:id => '')
								%li 
									= link_to 'Prevención de adicciones', sections_path(:id => '')
								%li 
									= link_to 'Programa municipal de VIH/SIDA', sections_path(:id => '')

						/ SEGURIDAD 
						%li 
							= link_to 'Seguridad'

						/ SERVICIOS EDUCATIVOS 
						%li.active-inside
							= link_to 'Servicios educativos', sections_path(:id => '')
							%ul.drop-inside
								%li 
									= link_to 'Colegios y jardines privados en San Fernando', sections_path(:id => 'colegiosyjardinesprivados')
								%li 
									= link_to 'Colegios y jardines públicos en San Fernando', sections_path(:id => 'colegiosyjardinespublicos')
								%li 
									= link_to 'Estudios de nivel medio y superior', sections_path(:id => '')
								%li 
									= link_to 'Nivel inicial, primario y secundario', sections_path(:id => '')
								%li 
									= link_to 'Unidades de desarrollo infantil', sections_path(:id => '')
								%li 
									= link_to 'Discapacidad', sections_path(:id => '')
							
						%li.active-inside
							= link_to 'Atención al vecino', sections_path(:id => 'atencionalvecino')
							%ul.drop-inside
								%li 
									= link_to 'OMIC', sections_path(:id => '')
								%li 
									= link_to 'UFRACC', sections_path(:id => '')
					/ PRENSA 
					%ul.dropdown.prensa
						%li.active
							= link_to 'Prensa', ''
						%li 
							= link_to 'Agenda para medios', sections_path(:id => 'agendamedios')
						%li 
							= link_to 'Medios locales', sections_path(:id => '')
						%li 
							= link_to 'Boletines oficiales', sections_path(:id => 'boletinesoficiales')
					

					%li.agenda
						= link_to 'Agenda', calendars_path
					%li.noticia
						= link_to 'Noticias', news_index_path
					%li
						= link_to 'Galería', ''
					%li.contacto
						= link_to 'Contacto', ''
				
				.search
					%form
						%input(type="text" name="palabra" placeholder="Buscar")
						%input(type="submit" id="search-submit" value="Buscar")
